* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.margin_sm{
    margin-right: 1rem;
}

#main_content_page{
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.top_header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    text-decoration: none;
    background-color: #be3144;
    padding: 20px;
}

.page_links{
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-right: 15px;
    font-size: 25px;
}

.page_links:hover{
    background: #45567d;
}

.name_text_center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name_text{
    margin-left: 4rem;
    color: white;
    font-size: 3.5rem;
}

.content_small_Text{
    color: #be3144;
    font-style: italic;
    font-weight: 100;
    font-size: 1rem;
}

@media screen and (max-width: 720px) {
    .content_small_Text {
        margin: 0 2rem 0 2rem;
    }
}

    /* Projects Section */

#project_content{
    background-color: #45567d;
    text-align: center;
    padding: 10rem 2rem;
}

.project_text{
    font-size: 2.2rem;
    color: white;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 1px solid white;
}

.projects_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.projects{
    background: #45567d;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}

.project_img{
    height: calc(100% - 6.5rem);
    width: 100%;
    object-fit: cover;
}

.project_text{
    font-size: 2rem;
    padding: 1rem 0.5rem;
    color: white;
}

.project_title_tile{
    background-color: #3a3d40;
    font-size: 2rem;
    text-decoration: none;
}

.project_tile_text{
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    color: white;
}

.project_tile_text:hover{
    color: orange;
}

.code_effect{
    color: #3a3d40;
}

.code_effect:hover{
    color: orange;
    transition: color 0.3s ease-in-out;
}

.btn_container{
    display: flex;
    justify-content: center;
}

.show_button{
    background:#3a3d40;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.show_button:hover{
    background: #be3144;
}

.button_text{
    color: white;
}

    /* Header Section */

#footer{
    background-color: #303841;
    text-align: center;
    padding: 10rem 2rem;
}

.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.footer_small_text{
    color: white;
    font-style: italic;
    font-weight: 100;
    margin-top: .5rem;
    font-size: 1rem;
}

.footer_links_list{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.footer_links{
    margin: 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    transition: 0.3s;
}

@media screen and (max-width: 720px) {
    .footer_links {
        display: flex;
    }
}